<nav class="navbar">
<div class="d-flex align-items-center flex-row">
  <a href="<%= root_path %>">
    <%= image_tag("avatar_mouton.png", class: "navbar-image mr-3", alt: "Sheep") %>
  </a>
  <%= link_to "Vince'app Sheeeeeepcounter", root_path %>
</div>

  <% if user_signed_in? %>
    <div>
      <div>
        <%= link_to 'Organizations', organizations_path %>
      </div>
      <div>
        <%= link_to 'Events', organization_events_path(current_user.organizations) %>
      </div>
    </div>
    <div>
      <%= button_to 'Logout', destroy_user_session_path,
      method: :delete,
      class: 'logout-button' %>
    </div>

  <% else %>
    <div>
      <%= link_to 'Sign in', new_user_session_path %>
    </div>
    <div>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
  <% end %>
</nav>
