<div class="form">
  <%= form_with(model: @event, local: true) do |form| %>
    <% if current_user.organizations.any? %>
      <div class="field">
        <%= form.label :organization_id %>
        <% selected_organization = current_user.organizations.find_by(id: params[:organization_id]) %>
        <%= form.collection_select(:organization_id, current_user.organizations, :id, :name, selected: selected_organization&.id, prompt: 'Sélectionnez une organisation') %>
      </div>
    <% else %>
      <div class="field">
        <%= form.label :new_organization %>
        <%= form.text_field :new_organization, placeholder: 'Entrez le nom de l organisation' %>
      </div>
    <% end %>

    <%# <div>
      <%= form.label :organization_id, "Organisation" %>
      <%# <%= form.collection_select :organization_id, current_user.organizations, :id, :name, {}, {class: "collection-field"} %>
    <%# </div> %>

    <div>
      <%= form.label :'nom' %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :'date' %>
      <%= form.date_field :start_date %>
      <%= form.datetime_field :start_time %>
    </div>

    <div>
      <%= form.label :'jauge' %>
      <%= form.number_field :max_gauge %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>
