<div class="form">
  <%= form_with(model: @event, local: true) do |form| %>
    <div>
      <%= form.label :organization_id, "Organisation" %>
<%= form.collection_select :organization_id, current_user.organizations, :id, :name, {}, {class: "collection-field"} %>    </div>

    <div>
      <%= form.label :'nom' %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :'date' %>
      <%= form.date_field :start_date %>
      <%= form.datetime_field :start_time %>
    </div>

    <div>
      <%= form.label :'jauge' %>
      <%= form.number_field :max_gauge %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>
  <%= link_to 'Back', organization_events_path(current_user.organizations) %>
